---
name: check
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
env:
  latest-python-version: 3.13
jobs:
  py-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11', '3.12', '3.13']
    steps:
      - uses: actions/checkout@v4
      - name: Install mise
        uses: jdx/mise-action@v3
        with:
          version: 2026.2.4
      - name: Run tests
        run: mise run cov
      - name: Upload coverage
        if: matrix.python-version == env.latest-python-version
        uses: actions/upload-artifact@v4
        with:
          name: coverage-xml
          include-hidden-files: true
          path: |
            ${{ github.workspace }}/coverage.xml
            ${{ github.workspace }}/.coverage
          if-no-files-found: error
  py-coverage:
    runs-on: ubuntu-latest
    needs: py-tests
    if: github.ref != format('refs/heads/{0}', github.event.repository.default_branch)
    steps:
      - uses: actions/checkout@v4
        with: {fetch-depth: 50}
      - name: Download new coverage
        uses: actions/download-artifact@v4
        with:
          name: coverage-xml
          path: ${{ github.workspace }}
      - name: Download old coverage
        continue-on-error: true
        uses: dawidd6/action-download-artifact@v6
        with:
          branch: ${{ github.event.pull_request.base.ref }}
          name: coverage-xml
          path: ${{ github.workspace }}/old-coverage
      - run: git fetch origin main
      - name: Install mise
        uses: jdx/mise-action@v3
        with:
          version: 2026.2.4
      - name: Check coverage
        continue-on-error: true
        run: mise run cov --no-test --old-coverage-xml=${{ github.workspace }}/old-coverage/coverage.xml
      - name: Coverage summary
        continue-on-error: true
        run: uv run coverage report --format=markdown >> $GITHUB_STEP_SUMMARY
  py-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install mise
        uses: jdx/mise-action@v3
        with:
          version: 2026.2.4
      - name: Check lint
        run: mise run lint --check --no-uv-locked
  py-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install mise
        uses: jdx/mise-action@v3
        with:
          version: 2026.2.4
      - name: Check lint
        run: mise exec -- uv build
  docs-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install mise
        uses: jdx/mise-action@v3
        with:
          version: 2026.2.4
      - name: Build docs
        run: mise run docs:build
  docs-changelog:
    runs-on: ubuntu-latest
    needs: docs-build
    steps:
      - uses: actions/checkout@v4
      - name: Install mise
        uses: jdx/mise-action@v3
        with:
          version: 2026.2.4
      - name: Check changelog
        continue-on-error: true
        run: mise run docs:check-changelog
