---
name: release
on:
  release:
    types: [published]
env:
  latest-python-version: 3.13
jobs:
  py-package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install mise
        uses: jdx/mise-action@v3
        with:
          version: 2026.2.4
      - name: Release packages
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: mise run release:python
