name: check-basic-sample
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
env:
  latest-python-version: 3.13
jobs:
  py-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
        - '3.11'
        - '3.12'
        - '3.13'
    steps:
    - uses: actions/checkout@v4
    - name: Install mise
      uses: jdx/mise-action@v3
      with:
        version: 2026.2.4
    - name: Run tests
      run: mise run cov
      working-directory: samples/basic
    - name: Upload coverage
      if: matrix.python-version == env.latest-python-version
      uses: actions/upload-artifact@v4
      with:
        name: coverage-xml
        include-hidden-files: true
        path: "${{ github.workspace }}/samples/basic/coverage.xml\n${{ github.workspace
          }}/samples/basic/.coverage\n"
        if-no-files-found: error
  py-coverage:
    runs-on: ubuntu-latest
    needs: py-tests
    if: github.ref != format('refs/heads/{0}', 
      github.event.repository.default_branch)
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 50
    - name: Download new coverage
      uses: actions/download-artifact@v4
      with:
        name: coverage-xml
        path: ${{ github.workspace }}/samples/basic
    - name: Download old coverage
      continue-on-error: true
      uses: dawidd6/action-download-artifact@v6
      with:
        branch: ${{ github.event.pull_request.base.ref }}
        name: coverage-xml
        path: ${{ github.workspace }}/samples/basic/old-coverage
    - run: git fetch origin main
      working-directory: samples/basic
    - name: Install mise
      uses: jdx/mise-action@v3
      with:
        version: 2026.2.4
    - name: Check coverage
      continue-on-error: true
      run: mise run cov --no-test --old-coverage-xml=${{ github.workspace 
        }}/samples/basic/old-coverage/coverage.xml
      working-directory: samples/basic
    - name: Coverage summary
      continue-on-error: true
      run: uv run coverage report --format=markdown >> $GITHUB_STEP_SUMMARY
      working-directory: samples/basic
  py-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install mise
      uses: jdx/mise-action@v3
      with:
        version: 2026.2.4
    - name: Check lint
      run: mise run lint --check --no-uv-locked
      working-directory: samples/basic
  py-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install mise
      uses: jdx/mise-action@v3
      with:
        version: 2026.2.4
    - name: Check lint
      run: mise run build
      working-directory: samples/basic
  docs-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install mise
      uses: jdx/mise-action@v3
      with:
        version: 2026.2.4
    - name: Build docs
      run: mise run docs:build
      working-directory: samples/basic
  docs-changelog:
    runs-on: ubuntu-latest
    needs: docs-build
    steps:
    - uses: actions/checkout@v4
    - name: Install mise
      uses: jdx/mise-action@v3
      with:
        version: 2026.2.4
    - name: Check changelog
      continue-on-error: true
      run: mise run docs:check-changelog
      working-directory: samples/basic
