name: check
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
env:
  latest-python-version: 3.13
jobs:
  template-gen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v3
        with:
          version: 2026.2.4
      - name: Generate project
        run: mise run gen
      - name: Check no git diff
        run: git diff --exit-code
